body{
    background-image: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#crystalsCollector{
    color: white;
    padding: 20px;
    margin: auto;
    background-color: #E55812;
    width: 900px;
    text-align: center;
}

#instructions{
    background-color: #FFC857;
    color: blue;
    width: 900px;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}

#randomNumber{
    width: 275px;
    height: 200px;
    background-color: #F8FCDA;
    color: #114B5F;
    float: left;
    margin: 10px;
}

#score{
    width: 275px;
    height: 200px;
    background-color: #F8FCDA;
    color: #114B5F;
    float: left;
    margin: 10px;
}

#winsLosses{
    width: 275px;
    height: 200px;
    background-color: #F8FCDA;
    color: #114B5F;
    float: left;
    margin: 10px;
    font-size: 24px;
}


#tracking{
    width: 900px;
    height: 225px;
    margin: auto;
}

img{
    width: 200px;
    height: 200px;
}
